/*         */
/*  elems  */
/*         */

a {
    color: #1A1A1D;
    text-decoration: none; /* no underline */
}

a:hover {
    color: #1A1A1D;
    text-decoration: none; /* no underline */
}

body {
    background-color: #1A1A1D;
    font-family: Garamond, Georgia, serif;
}



/*         */
/* classes */
/*         */

.card {
    background-color: #fbfbfb
}

.header {
    font-size: 60px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.4em;
    color: #1A1A1D;
}

.navbar {
    background-color: #fbfbfb
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.nav-link {
    font-size: 14px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.1em;
    color: #8b8e52
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.01);
}

.text-muted {
    /* color: #777777; */
    color: #8b8e52
}



/*         */
/* media q */
/*         */

@media only screen and (max-width: 750px) {
    .header {
        font-size: 30px;
        padding: 0;
        font-family: Garamond, Georgia, serif;
        letter-spacing: 0.3em;
        color: #1A1A1D;
    }
} 

