.header {
    font-size: 60px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.4em;
    color: #1A1A1D;
}

.nav-links {
    font-size: 20px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.1em;
}

.orange-card {
    background-color: goldenrod;
    color: white;
}

body {
    background-color: #1A1A1D;
    font-family: Garamond, Georgia, serif;
}

.text-muted {
    color: #777777;
}

.nav-link {
    font-size: 14px;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }

  @media only screen and (max-width: 750px) {
    .header {
        font-size: 30px;
        padding: 0;
        font-family: Garamond, Georgia, serif;
        letter-spacing: 0.3em;
        color: #1A1A1D;
    }
} 

